<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-ringtone" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name></name>
    <js-module name="RingtonePlayer" src="www/RingtonePlayer.js">
        <clobbers target="cordova.plugins.RingtonePlayer" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RingtonePlayer">
                <param name="android-package" value="com.cordova.plugins.ringtone.RingtonePlayer"/>
            </feature>
        </config-file>

        <source-file src="src/android/RingtonePlayer.java" target-dir="src/com/cordova/plugins/ringtone" />
    </platform>
</plugin>
